.horizontal-block {
    width: 100%;
}

h1 {
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 40px;
}

p {
    font-size: 20px;
}

#votArea {
    display: none;
}

#winner-box{
    display: none;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 476px) {
    body {
        margin: 0px;
        text-align: center;
    }

    button {
        margin: auto;
        text-align: center;
        width: 50%;
    }

    input {
        width: 50%;
    }
}
