h1 {
    text-align: center;
}

body {
    margin: 5%;
}

#votArea {
    display: none;
}

#winner-box{
    display: none;
}

#voting-list-desc {
    display: none;
}

#vote-start-button {
    display: none;
}

.voteInfo {
    display: flex;
    flex-wrap: wrap;
}

.list-group-item {
    font-size: 170%;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.85);
    z-index: 10000;
}

#winner-box {
    border-style: solid;
    margin-top: 5%;
}

/* style used to center the overlay message */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 1s;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    padding: 1%;
    background: white;
    text-align: center;
    border-radius: 30px;
}

#textOnOver{
    color: white;
    display: none;
}

#popButton{
    display: none;
}
