body {
    margin: 5%;
}

#votArea {
    display: none;
}

#winner-box{
    display: none;
}

#voting-list-desc {
    display: none;
}

#vote-start-button {
    display: none;
}

.voteInfo {
    display: flex;
    flex-wrap: wrap;
}